/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
	display: flex;
	padding: .5rem .5rem 0 .5rem;

}

.entry-content,
.entry-header{
	font-family: $main;
}
.entry-header{
		color: $mediumgrey;
}

#primary.content-area{
	width: 70vw;
}

// Contact Page -----------------------------------

#post-13 {
	margin-left: 9vw;
	margin-right: .5rem;
	h2, h3 {
	  font-family: $titles;
	  text-transform: uppercase;
		font-size: 2rem;
	}
	h3 {
		color: $mediumgrey;
		text-transform: none;
		font-size: 1.8rem;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
