/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

//sidebar-----------------------------

#secondary {
  width: 30vw;
	padding: 2rem 2rem 2rem 3rem;
	border-left: 1px solid $lightgrey;
}

.widget-title{
	text-transform: uppercase;
	font-size: 1.25rem;
	color: black;
	font-family: $titles;
}

.bizhours, .textwidget{
	font-family: $main;
  line-height: 1.6rem;
  span {
  color: $brandred;
  }
}

p.bizhours{
margin-bottom: 0rem;
margin-top: 0rem;
line-height: 2rem;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
	font-family: $main;
}

a{
text-decoration: none;
color:$brandred;
  &:hover{
    color: $hover;
    text-decoration: underline;
  }
}

.fa{
  color:$mediumgrey;
  font-size: .7rem;
  line-height: 1.6rem;
  .fa-map-marker::before{
    content: "\f041";
  }
}

.widget_archive li{
  line-height: 2rem;
}

.widget_text a{
line-height: 2rem;
}


.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.textwidget .white{
  color: white;
}


/* Search widget. */
.widget_search .search-submit {
	display: none;
}

//comments block---------------------------


.widget_categories .widget-title{
  visibility:collapse;
  display: none;
}
.widgettitle {
  font-size: 1.75rem;
  color: $mediumgrey;
  font-family: $titles;
}
